#------------------------------------------------------------
# Linux
#------------------------------------------------------------
*~

#------------------------------------------------------------
# cache
#------------------------------------------------------------
var/cache/*
!var/log/.htaccess
var/log/*
!var/session/.htaccess
var/session/*

#------------------------------------------------------------
# npm
#------------------------------------------------------------
node_modules/*

#------------------------------------------------------------
# framework
#------------------------------------------------------------
app/config/*.php
home/media/*

